body{
    background: #F5F8FF;
    overflow-x: hidden;
}
.raleway-uniquifier{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* Font for Productive section*/
.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Header Bg */
.header{
   background-image: url('../assets/Hero-bg.png');
   padding: 30px 50px;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
    
    
}
/* Shared Style */

.btn-primary {
    background-color: #4E47FF;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}
/* -------Challenge 2----------*/
.btn-primary:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 253, 135);
    border: 1px solid rgb(0, 0, 0);
}
/* Banner Style */
.banner {
    display: block;
    padding: 30px 100px;
    align-items: center;
}
.banner-content{
    
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    padding: 10px 30px; 
}
/* Action Section Start */

/* .action-section{
    max-width: 1140px;
    height: 328px;
    
    gap: 600px;
    margin: 116px auto;
    
    align-items: center;
  
}

.full-action{
    display: flex;
    justify-content: space-between;
    gap: 200px;

}
.left-content{
    text-align: left;
    
    
}
.action-title{
    font-size: 40px;
    font-weight: 700;
    color: #252432;
}
.action-subtitle{
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(37, 36, 50, 0.5);
}
.right-content img{
    border-radius: 50px;
    margin-top: 20px;
}

.right-content{
    border-radius: 50px;
    
} */

.preview-section {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 87%;
  margin: 0 auto;
  padding: 60px 0px;
}
.text-part {
  max-width: 45%;
  text-align: left;
}
.action-title{
    font-size: 40px;
    font-weight: 700;
    color: #252432;
}
.action-subtitle{
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(37, 36, 50, 0.5);
}

.image-part img {
  width: 100%;
  max-width: 400px;
  border-radius: 50px;
}

/* Productive User Section */
.productive-section{
    background: rgba(78, 71, 255, 0.1);
    text-align: center;
    padding: 80px 50px 80px 50px;
    border-radius: 20px;
    max-width: 82%;
    height: 50%;
    margin: auto;

}
.productive-title{
    margin: 0;
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
    color: #252432;
}
.parent-product{
    display: flex;
    justify-content: space-around;
}
.parent-product h1 {
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin: 0;
    
}
.parent-product p{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

/* --------------Challenging Part----------- */

/* ------------Users Feedback Section--------*/
.feedback-section{
    text-align: center;
    padding: 30px 50px 30px 50px;
    border-radius: 20px;
    max-width: 87%;
    height: 50%;
    margin: auto;
}
.user-review{
    display: flex;
    justify-content: center;
    gap: 20px;

}
.users-profile{
    background-color: #FFFFFF;
    text-align: left;
    padding: 30px 40px;

}
.review-title{
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    padding: 50px 30px;
    margin: 0;
}
.stars i {
  color: gold;
  margin-right: 4px;
}
.reviewer-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
 margin-bottom: 0%;
  
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer-text {
  display: flex;
  flex-direction: column; 
  line-height: 1.2;
}

.reviewer-text strong{
  font-size: 14px;
  font-weight: bold;
  color: #757575;
}

/* Get In Touch Section */
.touch-section{
   width: 87%;
   margin: 10px 80px;
   text-align: center;

}
.touch {
    display: flex;
    gap: 100px;
    align-items: center;
}
.input-title {
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
}
.input-column{
    width: 50%;
}
section input[type="text"], section input[type="email"], section textarea{
    height: 64px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 18px;
}
.button {
    background-color: #4E47FF;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    width: 105%;
}
.button:hover{
    background-color: rgb(255, 253, 135);
    color: #252432;
    border: 1px solid black;
    
}
/* Footer Start */
.secondary-bg{
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    
}
.page-footer{
    
    padding: 40px 455px 80px 450px ;
    text-align: center;
    
}
 .footer-description{
    line-height: 40px;
    color: #8987A1;
  
}
.menus ul{
    display: flex;
    padding-top: 20px;
    gap: 30px;
    justify-content: center;
    list-style: none;  
}
footer ul li a{
    text-decoration: none;
    color: #8987A1;
}
