.raleway-uniquifier{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


/* Header Bg */
.header{
   background-image: url('../assets/Hero-bg.png');
   padding: 30px 50px;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
    
    
}
/* Shared Style */

.btn-primary {
    background-color: #4E47FF;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}
/* Banner Style */
.banner {
    display: block;
    padding: 30px 100px;
    align-items: center;
}
.banner-content{
    
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    padding: 10px 30px; 
}
/* Action Section Start */

.action-section{
    display: flex;
    gap: 80px;
    margin: 116px 140px;

}
.left-content{
    text-align: left;
    margin: auto;
    width: 50%;   
}
.action-title{
    font-size: 40px;
    font-weight: 700;
    color: #252432;
}
.action-subtitle{
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(37, 36, 50, 0.5);
}
img{
    border-radius: 50px;
}

.right-content{
    border-radius: 50px;
    
}
