body{
    background: #F5F8FF;
}
*{
   margin-bottom: 30px;
}


.raleway-uniquifier{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* Font for Productive section*/
.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Header Bg */
.header{
   background-image: url('../assets/Hero-bg.png');
   padding: 30px 50px;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px;
    
    
}
/* Shared Style */

.btn-primary {
    background-color: #4E47FF;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
}
/* Banner Style */
.banner {
    display: block;
    padding: 30px 100px;
    align-items: center;
}
.banner-content{
    
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    padding: 10px 30px; 
}
/* Action Section Start */

.action-section{
    display: flex;
    gap: 200px;
    margin: 116px 140px;
    width: 1500px;
    justify-content: space-between;
    align-items: center;

}
.left-content{
    text-align: left;
    
    
}
.action-title{
    font-size: 40px;
    font-weight: 700;
    color: #252432;
}
.action-subtitle{
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(37, 36, 50, 0.5);
}
.right-content img{
    border-radius: 50px;
    margin-top: 20px;
}

.right-content{
    border-radius: 50px;
    
}
/* Productive Section */
.productive-section{
    background: rgba(78, 71, 255, 0.1);
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
    max-width: 85%;
    max-height: 30%;
    margin: auto;
    
}
.productive-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.card-users{
    display: flex;
    gap: 130px;
    font-size: 80px;
    font-weight: 700;
    justify-content: space-around;
    color: #4E47FF;
    padding-top: 10px;
    margin-bottom: 0px;
   
}
.tag {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    
}
/* Get In Touch Section */
.touch-section{
   width: 1500px;
   margin: 150px 100px;
   text-align: center;

}
.touch {
    display: flex;
    gap: 100px;
    align-items: center;
}
.input-title {
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
}
.input-column{
    width: 50%;
}
section input[type="text"], section input[type="email"], section textarea{
    height: 64px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 18px;
}
.button {
    background-color: #4E47FF;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    width: 105%;
    
    
}
